<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="login">
            <h1>Login</h1>
        </div>
        <form action="">
            <div class="email">
                <label for="">Email</label>
                <input type="email" id="email" placeholder="Digite seu email">
            </div>
            <div class="password">
                <label for="">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha">
            </div>
            <a href="#" class="esqueceu-senha">Esqueceu a senha?</a>
            <button id="btn" class="btn">Entrar</button>
        </form>

        <!-- Opções de entrada -->
        <div class="options">
            <p>Ou entre usando</p>
            <a href="" class="google"><img src="../../assets/icons8-google-drive.svg"></a>
            <a href="" class="onedrive"><img src="../../assets/onedrive-1.svg"></a>
        </div>
    </div>
    <script src="render.js"></script>
</body>
</html>