<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <title>Início</title>
</head>
<body>
       <div class="main">
            <header>
                <div id="title">
                    <p>Bem vindo,</p>
                    <p>Fabio</p>
                </div>
                <a href="../configuracoes/index.ejs" class="profile">
                    <img src="../../assets/person-profile.svg" alt="profile">
                </a>
            </header> 

            <div class="add-more-files">
               
                <button type="button" id="btn">
                    <img src="../../assets/icon-more.svg" alt="">
                    Adicionar mais arquivos
                </button>
            </div>

            <div class="content">
                <div class="upload">
                    <p>Último upload</p>
                    <div class="box">
                        <p>Nome do arquivo</p>
                        <p>IFITNESS.GDB</p>
                        <p>Data</p>
                        <p>2022-03-16</p>
                    </div>
                </div>

                <div class="add-recentes upload">
                    <p>Arquivos adicionados</p>
                    <div class="box">
                        <p>Nome do arquivo</p>
                        <p>IFITNESS.GDB</p>
                        <p>Data</p>
                        <p>2022-03-16</p>
                    </div>
                </div>
            </div>
        </div>
    <script src="./render.js"></script>
</body>
</html>